<web-app>
    <display-name>
        CNT 4714 Spring 2025 Project 4
    </display-name>
    <description>
        Landon Morjal's submission of Project 4
    </description>
    <servlet>
        <description>
            A simple webapp for SQL database operation
        </description>
        <servlet-name>alpha</servlet-name>
        <servlet-class>authentication</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>authenticationServlet</servlet-name>
        <servlet-class>authenticationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>authenticationServlet</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>rootServlet</servlet-name>
        <servlet-class>rootServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>rootServlet</servlet-name>
        <url-pattern>/root</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>clientServlet</servlet-name>
        <servlet-class>clientServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>clientServlet</servlet-name>
        <url-pattern>/client</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>supplierInsertServlet</servlet-name>
        <servlet-class>supplierInsertServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>supplierInsertServlet</servlet-name>
        <url-pattern>/supplierInsert</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>partInsertServlet</servlet-name>
        <servlet-class>partInsertServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>partInsertServlet</servlet-name>
        <url-pattern>/partInsert</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>jobInsertServlet</servlet-name>
        <servlet-class>jobInsertServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>jobInsertServlet</servlet-name>
        <url-pattern>/jobInsert</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>shipmentInsertServlet</servlet-name>
        <servlet-class>shipmentInsertServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>shipmentInsertServlet</servlet-name>
        <url-pattern>/shipmentInsert</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>accountantServlet</servlet-name>
        <servlet-class>accountantServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>accountantServlet</servlet-name>
        <url-pattern>/accountant</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>authentication.html</welcome-file>
    </welcome-file-list>
</web-app>